@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  color: #533738;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  background: url("../img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash\ 1.jpg")
    no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #efe6e4;
}

.page-header {
  padding-top: 35px;
  padding-bottom: 90px;
}

.header-flex-container {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wide-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #533738;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-list li {
  list-style-type: none;
  flex-direction: row;
  margin-right: 26px;
}

.nav-list li:last-child {
  margin-right: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1036px;
  width: 100%;
}
.main-heading {
  font-size: 50px;
  line-height: 62px;
  font-weight: normal;
  margin-bottom: 24px;
  margin-top: 0;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 40px;
  line-height: 50px;
}

.promo-text {
  max-width: 534px;
}

.promo-description {
  max-width: 492px;
  margin-bottom: 21px;
}

.promo-button {
  display: inline-block;
  background-color: #cc8b86;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  padding: 25px 68px;
}

.description-section {
  margin-top: 220px;
  padding-bottom: 21px;
}

.half-wrap {
  display: flex;
}

.half-wrap p:first-of-type {
  margin-top: 0;
}

.text-wrap {
  margin-left: 67px;
}

.achievements-section {
  background-color: #8d7370;
  color: white;
}

.achievements-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.achievements-list li {
  padding-top: 85px;
  padding-bottom: 81px;
}

.achievements-list span {
  font-size: 50px;
  line-height: 62px;
  font-weight: normal;
}

.our-works {
  padding-top: 65px;
}

.works-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 0;
  position: relative;
}

.our-works .section-heading {
  text-align: left;
}

.works-flex-container a:nth-of-type(1),
.works-flex-container a:nth-of-type(3) {
  margin-bottom: 30px;
}

.portfolio-1 {
  opacity: 0.8;
  background-color: #8d7370;
  width: 488px;
  height: 451px;
  color: white;
  position: relative;
  position: absolute;
  z-index: 1;
}

.works-flex-container a:nth-child(2) {
  position: absolute;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 65px;
}

.see-more h3::after {
  content: "";
  background: url("../img/arrow 3.png") no-repeat;
  display: inline-block;
  width: 65px;
  height: 37px;
}

.team-section {
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: #e2c4ba;
}

.team-flex-container {
  display: flex;
  justify-content: space-between;
}

.bio {
  width: 320px;
}

.work-stages-section {
  background-color: #e2c4ba;
  padding-bottom: 80px;
}

.work-stages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.work-stages-list li {
  width: 285px;
  text-align: center;
}

.review-article {
  padding-top: 65px;
  padding-bottom: 65px;
}

.review-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-inner-flex-container {
  display: flex;
  align-items: center;
  width: 834px;
  justify-content: space-between;
  list-style: none;
}

.review-inner-flex-container p:first-child {
  margin-top: 0;
}

.review-flex-container ul {
  padding: 0;
  margin: 0;
}

.button-review {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border-style: none;
  background-color: #cc8b86;
}

.button-review::before {
  content: "--------";
}

.review-article blockquote {
  margin: 0;
  width: 407px;
}

.review-photos {
  line-height: 0;
  width: 407px;
}

.review-photos img:first-child {
  margin-bottom: 24px;
}

.review-article cite {
  text-transform: uppercase;
  font-style: normal;
}

.form-section {
  background-color: #8d7370;
  color: white;
}

.form-outer-container {
  display: flex;
  padding-left: 90px;
  width: 1118px;
  margin: 0 auto;
}

.form-half-container {
  width: 508px;
  margin-right: 20px;
}

.form-half-container .section-heading {
  margin: 50px 0 24px;
  text-align: start;
}

.form-half-container p {
  opacity: 60%;
  margin: 0;
  margin-bottom: 44px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid white;
  padding: 0;
  height: 35px;
}

.form-container input:first-of-type {
  margin-bottom: 35px;
}

.form-container input:last-of-type {
  margin-bottom: 31px;
}

.form-container input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.form-container .promo-button {
  border-style: none;
  align-self: flex-start;
  color: #533738;
}

.map-container {
  line-height: 0;
}

.footer-inner-container {
  display: flex;
  padding-bottom: 37px;
  padding-top: 37px;
}

.footer-inner-container a {
  margin-right: 42px;
}

.footer-inner-container div:first-of-type {
  margin-right: auto;
}
